/* Use Outfit font globally */
body {
  font-family: 'Poppins', sans-serif;
  /*padding-top: 80px*/
  background-color: #fdf9c5;
}

/* Navbar Styling */
.custom-navbar {
  background-color: #476252;
}

.custom-navbar .nav-link {
  color: #FDF9C5 !important;
  font-weight: 500;
  margin: 0 8px;
  transition: 0.3s;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  color: #fff !important;
  text-decoration: underline;
}

.custom-navbar i {
  font-size: 1.2rem;
  color: #FDF9C5;
  transition: color 0.3s;
}

.custom-navbar i:hover {
  color: white;
}

.logo {
  height: 28px;
  margin-right: 0;
  vertical-align: middle;
}

.nav-link {
  color: #f3f1cc !important;
  font-weight: 500;
}
.nav-link.active {
  border-bottom: 2px solid #f3f1cc;
}

.navbar-nav .icon-group {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 10px;
}

.brand-text {
  color: #EFE7B9;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-left: 2px;
}

/* Enlarged Kota Cantik image */
.kota-img-large {
  max-height: 300px;
  width: auto;
  object-fit: contain;
  border-radius: 8px;
}

/* Padding shift for right column */
.ps-md-5 {
  padding-left: 3rem;
}

/* Darken and bold item names in Kota Cantik description */
.kota-description li {
  font-weight: 600;
  color: #222222;
}

/* Custom ADD button */
.custom-green-btn {
  background: linear-gradient(135deg, #74E835, #41821E);
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  font-weight: 700;
  font-family: 'Outfit', sans-serif;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.custom-green-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


/* Green info box */
.info-box {
  background-color: #197940;
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #000;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  font-size: 1.2rem;
  padding: 60px 30px;
}
.info-box h5 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Footer Styling */
.footer {
  background-color: #476252;
  color: #ffffff;
  font-size: 0.9rem;
}

.footer-logo {
  height: 40px;
}

.footer a {
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer a:hover {
  text-decoration: underline;
  color: #EFE7B9;
}

.footer p {
  margin-bottom: 0.4rem;
}

.footer ul li {
  margin-bottom: 0.6rem;
}

@media (max-width: 992px) {

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .icon-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-nav li.ms-4 {
    margin-left: 0 !important;
  }

  .footer .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer .col-md-4 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .footer p,
  .footer ul li,
  .footer a {
    text-align: center;
  }
}