body {
  font-family: 'Poppins', sans-serif;
  background-color: #FDF9C5;
}

.custom-navbar {
  background-color: #476252;
}

.custom-navbar .nav-link {
  color: #FDF9C5 !important;
  font-weight: 500;
  margin: 0 8px;
  transition: 0.3s;
}

.custom-navbar .nav-link:hover,
.custom-navbar .nav-link.active {
  color: #fff !important;
  text-decoration: underline;
}

.custom-navbar i {
  font-size: 1.2rem;
  color: #FDF9C5;
  transition: color 0.3s;
}

.custom-navbar i:hover {
  color: white;
}

.logo {
  height: 28px;
  margin-right: 0;
  vertical-align: middle;
}

.brand-text {
  color: #EFE7B9;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin-left: 2px;
}

.nav-link {
  color: #f3f1cc !important;
  font-weight: 500;
}
.nav-link.active {
  border-bottom: 2px solid #f3f1cc;
}

.navbar-nav .icon-group {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 10px;
}

.hero {
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}

.who-we-are {
  background-color: #FDF9C5;
  color: #333;
}

.impact h4 {
  color: #47634c;
}

.footer {
  background-color: #476252;
  color: #ffffff;
  font-size: 0.9rem;
}

.footer-logo {
  height: 40px;
}

.footer a {
  color: #ffffff;
  transition: color 0.3s ease;
}

.footer a:hover {
  text-decoration: underline;
  color: #EFE7B9;
}

.footer p {
  margin-bottom: 0.4rem;
}

.footer ul li {
  margin-bottom: 0.6rem;
}

@media (max-width: 992px) {

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .navbar-nav .icon-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-nav li.ms-4 {
    margin-left: 0 !important;
  }

  .lead {
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer .row {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer .col-md-4 {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }

  .footer p,
  .footer ul li,
  .footer a {
    text-align: center;
  }
}